@import url(./reset.css);

/* CONTAINER */

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

/* HEADER */

header {
  background-color: #1f2229;
}

header .flex {
  display: flex;
  justify-content: space-between;
}

.head-1 h1 {
  font-size: 25px;
  color: #2993ff;
  font-weight: 600;
  line-height: 49px;
  letter-spacing: 0.6px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  display: inline;
  float: left;
}

nav ul li a {
  flex: 1;
  display: block;
  padding: 13px 16px;
  text-align: center;
  color: #f0f1ff;
  font-size: 15px;
  letter-spacing: 0.6px;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

nav ul li a:hover,
a:focus,
a:active {
  background-color: #2993ff;
}

.icon-1 {
  margin: auto 0;
  cursor: pointer;
}

.icon-1 img {
  height: 50px;
}

/* HEADER ENDS */

/* MAIN */

.inputs {
  width: 600px;
  height: auto;
  margin: 30px auto 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background-color: #1b1c1e;
  margin-bottom: 3rem;
}

.text {
  letter-spacing: 0.4px;
  font-size: 16px;
  background-color: transparent;
  resize: none;
  color: #fff;
}

.box {
  display: flex;
  justify-content: space-between;
}

#post {
  text-align: center;
  padding: 8px 20px;
  border-radius: 5px;
  background-color: #2993ff;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

#post:active {
  border: 1px solid #000;
}

span {
  font-size: 16px;
  color: var(--app-grey);
}

.grid {
  border-radius: 5px;
  display: grid;
  justify-content: center;
  gap: 3rem;
}

.post {
  width: 600px;
  min-height: 110px;
  height: fit-content;
  padding: 10px;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
}

.postHead {
  display: flex;
  justify-content: space-between;
  line-height: 40px;
  font-size: 17px;
  letter-spacing: 0.2px;
}

.postHead img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

.postBody {
  margin: 15px 0px;
  font-size: 16px;
  font-weight: 400;
}

#postFile {
  display: none;
}

.postFile {
  padding-top: 8px;
  cursor: pointer;
}

.postFile i {
  font-size: 30px;
}

.icon-1:focus .revert {
  display: block;
}

.icon-1 .revert {
  display: none;
  position: absolute;
  background-color: #3c3f4b;
  padding: 10px;
  min-width: 200px;
  top: 80px;
  right: 85px;
  /* z-index: 1; */
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
}

/* MAIN ENDS */
